


/* -----------Media Query ----------- */
@media screen and (min-width : 724px)
              and (max-width : 1024px){ 

    #grid{
        display: grid;
        grid-template-rows: 100px 450px 400px 200px 300px;
        grid-template-areas: 
        "navbar navbar"
        "welcome-section welcome-section"
        "area2 area2"
        "area3 area3"
        "area4 area4"

        ;


    }

    /* SECTION 1 */
    #welcome-section{
       margin: 1%;
       grid-area: welcome-section;
       color: white;
   }
   .section1h1{
       margin-left: 50px;
       font-size: 20px;
       text-shadow:
       0 0 1px #fff,
       0 0 1px #fff,
       0 0 1px #fff,
       0 0 22px rgb(206, 92, 255),
       0 0 52px rgb(206, 92, 255),
       0 0 72px rgb(206, 92, 255),
       0 0 80px rgb(206, 92, 255),
       0 0 51px rgb(206, 92, 255);

   }
   .section1h2{
       text-align: center;
       font-size: 30px;
       color: green;

   }
   .section1h4{
       text-align: center;
       font-size: 25px;
       color: green;


   }
   /* SECTION 1 BUTTON */
   .section1btn{
       font-family: cool1;
       background-color: rgb(238, 130, 238);
       border: none;
       color: white;
       padding: 1% 2%;
       text-align: center;
       text-decoration: none;
       font-size: 20px;
       transition-duration: 0.4s;
       cursor: pointer;
       border-radius: 40%;

   }
   .section1btn:hover {
       background-color: rgb(245, 92, 255 );
       color: white;
       box-shadow: 0px 10px 40px 20px rgb(206, 92, 255);

   }
   
   
   }


   /* SMALL SCREEN */

   @media only screen and (max-width: 600px) {
    #grid{
    display: grid;
    grid-template-rows: 110px 500px 200px 200px 300px;
    grid-template-areas: 
    "navbar navbar"
    "welcome-section welcome-section"
    "area2 area2"
    "area3 area3"
    "area4 area4"

    ;


    }
    *{
        margin: 0.1%;
    }
            /* NAV  */
    #navbar{
        background-color: #AA3E98;
        height: 8%;
        grid-area: navbar;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        text-align: center;
    }
    .nav ul li{
        color: red;
        display: inline-block;
        text-align: center;
        margin-left: 5px;
        font-size: 35px;
    }
    /* SECTION 1 */
    #welcome-section{
    padding: 2%;
    margin: 1%;
    grid-area: welcome-section;
    color: white;
    }
    .section1h1{
        margin-top: 10px;
        margin-left: 35px;
        font-size: 25px;
        text-shadow:
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 22px rgb(206, 92, 255),
        0 0 52px rgb(206, 92, 255),
        0 0 72px rgb(206, 92, 255),
        0 0 80px rgb(206, 92, 255),
        0 0 51px rgb(206, 92, 255);

    }
    .section1h2{
        margin-top: 20px;
        text-align: center;
        font-size: 30px;

    }
    .section1h4{
        text-align: center;
        font-size: 35px;
        color: red;


    }
    /* SECTION 1 BUTTON */
    .section1btn{
        margin-top: 45px;
        font-family: cool1;
        background-color: rgb(238, 130, 238);
        border: none;
        color: white;
        padding: 1% 2%;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 40%;

    }
    .section1btn:hover {
        background-color: rgb(245, 92, 255);
        color: white;
        box-shadow: 0px 10px 40px 20px rgb(206, 92, 255);

    }
    
    }