/* -----------Media Query ----------- */
@media screen and (min-width : 724px)
              and (max-width : 1024px){ 

    /* SECTION 1 */
    #welcome-section{
       margin: 1%;
       grid-area: welcome-section;
       color: white;
   }
   .section1h1{
       margin-left: 50px;
       font-size: 20px;
       text-shadow:
       0 0 1px #fff,
       0 0 1px #fff,
       0 0 1px #fff,
       0 0 22px rgb(206, 92, 255),
       0 0 52px rgb(206, 92, 255),
       0 0 72px rgb(206, 92, 255),
       0 0 80px rgb(206, 92, 255),
       0 0 51px rgb(206, 92, 255);

   }
   .section1h2{
       text-align: center;
       font-size: 50px;
       color: green;

   }
   .section1h4{
       text-align: center;
       font-size: 45px;
       color: green;


   }
   /* SECTION 1 BUTTON */
   .section1btn{
       font-family: cool1;
       background-color: rgb(238, 130, 238);
       border: none;
       color: white;
       padding: 1% 2%;
       text-align: center;
       text-decoration: none;
       font-size: 20px;
       transition-duration: 0.4s;
       cursor: pointer;
       border-radius: 40%;

   }
   .section1btn:hover {
       background-color: rgb(245, 92, 255 );
       color: white;
       box-shadow: 0px 10px 40px 20px rgb(206, 92, 255);

   }
   
   
   }